@import '../app.component';

body {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;  
    padding-top: 150px;
    background-color: #131a21;
}
.list-group-item{
    height: 7vh;
    padding: 0; // Elimina el relleno predeterminado de la lista
   
    
}
.custom-dropdown-toggle {
    background-color: #161d26;
    color: #FFFFFF;
    border-color: #161d26;
    border-radius: 8px;
    width: 100px;
    height: 40px;
}

.btn{
    margin-left: 10px;
    margin-top: 1vh;
}
.user-name{
    margin-top: 2vh;
    font-size: large;
    font: bold;
}
.col-12{
    display: flex;
    justify-content: center;
}
.list-group-item-custom {
    background-color: #1c2632;
    color:white;
    border: #212529;
    
    
}
.separator {
    border-bottom: 1px solid #A9A9A9 ; // Añade un borde inferior de 1px sólido de color gris
    margin-top: 10px;
    margin-bottom: 7px; // Ajusta el espacio entre los elementos
    list-style: none; 
    
  }
.col-3 {
    display: flex;
    width: 100%;
    padding-left: 100px;
}
.img-item{
    display: flex;
    justify-content: center;
}
.titulo{
    display: flex; 
    justify-content:flex-start;
    align-items: baseline;
    width: 100%;
    margin-bottom: 10px;
}
h1{
    color: white;
    margin-left: 300px ;
    
}

.card{
    background-color: #1c2632 !important;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6), 0 6px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: white;
}
.card-header{
    border-bottom: 1px solid #FFFFFF;
    text-align: center;
}