<body>
    <div id="introduccion" class="seccion">
        <h1>POTENCIA TU JUEGO</h1>
    <div class="slider">
        <div class="column">
            <img src="../../assets/img/Alaves.png" alt="Alavés logo">
            <img src="../assets/img/Almeria.png" alt="Almería logo">
            <img src="../assets/img/Athletic.png" alt="Athletic Bilbao logo">
            <img src="../assets/img/Atleti.png" alt="Atlético Madrid logo">
            <img src="../assets/img/Barcelona.png" alt="Barcelona logo">
        </div>
        <div class="column">
            <img src="../assets/img/Betis.png" alt="Real Betis logo">
            <img src="../assets/img/Cadiz.png" alt="Cádiz logo">
            <img src="../assets/img/Celta de Vigo.png" alt="Celta de Vigo logo">
            <img src="../assets/img/Getafe.png" alt="Getafe logo">
            <img src="../assets/img/Girona.png" alt="Girona logo">
        </div>
        <div class="column">
            <img src="../assets/img/Granada.png" alt="Granada logo">
            <img src="../assets/img/Las Palmas.png" alt="Las Palmas logo">
            <img src="../assets/img/Madrid.png" alt="Real Madrid logo">
            <img src="../assets/img/Mallorca.png" alt="Mallorca logo">
            <img src="../assets/img/Osasuna.png" alt="Osasuna logo">
        </div>
        <div class="column">
            <img src="../assets/img/Rayo Vallecano.png" alt="Rayo Vallecano logo">
            <img src="../assets/img/Real Sociedad.png" alt="Real Sociedad logo">
            <img src="../assets/img/Sevilla.png" alt="Sevilla logo">
            <img src="../assets/img/Valencia.png" alt="Valencia logo">
            <img src="../assets/img/Villareal.png" alt="Villarreal logo">
        </div>
    </div>  
    </div>
    <div id="info" class="seccion" >
        <h1>LOGRA LA VICTORIA</h1>
        <div class="row justify-content-center">
            <div class="col-sm-4 mx-2 mb-3 mb-sm-1">
              <div class="card text-center mb-3">
                <div class="card-body">
                  <h5 class="card-title">Asocia varias ligas a tu cuenta.</h5>
                  <p class="card-text">¡Optimiza todas las plantillas que quieras y gana a tus amigos!</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4 mx-2 mb-3 mb-sm-1">
              <div class="card text-center mb-3">
                <div class="card-body ">
                  <h5 class="card-title" >Actualización cada partido.</h5>
                  <p class="card-text" >Información actualizada cada partido para estar al tanto de cada jornada.</p>
                </div>
              </div>
            </div>
          </div>
        
        <h3></h3><p> </p>
        <h3> </h3><p></p>
    </div>
    <div id="descripcion" class="seccion">
        <h2>¿Cómo lo hacemos?</h2>
        <div class="row">
            <div class="col">
                <div class="card w-75 mb-3" style="width: 18rem; background-color:#B8AB93;border-color:#25252d;border-width: 2px;">
                    <div class="card-body text-center ">
                      <h5 class="card-title">Análisis de mercado</h5>
                      <img class="img-columna" id="analisis" src="../assets/img/iconos/analisis.png" alt="analisis logo">
                    </div>
                  </div>
            </div>
            <div class="col">
                <div class="card w-75 mb-3" style="width: 18rem; background-color:#B8AB93;border-color:#25252d;border-width: 2px;">
                    <div class="card-body text-center ">
                      <h5 class="card-title">Evaluación de tu plantilla</h5>
                      <img class="img-columna" id="evaluacion" src="../assets/img/iconos/evaluacion.png" alt="evaluacion logo">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card w-75 mb-3" style=" width: 18rem; background-color:#B8AB93;border-color:#25252d;border-width: 2px;">
                    <div class="card-body text-center ">
                      <h5 class="card-title">Pronóstico del rendimiento de los jugadores</h5>
                      <img class="img-columna" id="pronostico" src="../assets/img/iconos/jugador-de-futbol.png" alt="jugador logo">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card w-75 mb-3" style=" width: 18rem;background-color:#B8AB93;border-color:#25252d;border-width: 2px;">
                    <div class="card-body text-center ">
                      <h5 class="card-title">Recopilación de estadísticas</h5>
                      
                      <img class="img-columna" id="estadistica"src="../assets/img/iconos/estadisiticas.png" alt="Estadisitica logo">
                    </div>
                </div>
            </div>
        </div>
    <div id="contact" class="seccion">
        <h2>Quiénes somos</h2>
        <div class="row justify-content-center">
            <div class="col-sm-3 mx-2 mb-3 mb-sm-1">
              <div class="card text-center mb-3">
                <div class="card-body">
                  <h5 class="card-title">Asocia varias ligas a tu cuenta.</h5>
                  <p class="card-text">¡Optimiza todas las plantillas que quieras y gana a tus amigos!</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 mx-2 mb-3 mb-sm-1">
              <div class="card text-center mb-3">
                <div class="card-body ">
                  <h5 class="card-title" >Actualización cada partido.</h5>
                  <p class="card-text" >Información actualizada cada partido para estar al tanto de cada jornada.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3 mx-2 mb-3 mb-sm-1">
                <div class="card text-center mb-3">
                  <div class="card-body ">
                    <h5 class="card-title" >Actualización cada partido.</h5>
                    <p class="card-text" >Información actualizada cada partido para estar al tanto de cada jornada.</p>
                  </div>
                </div>
              </div>
          </div>
       
    
    <div id="imgSocios" class="seccion">
        <div class="logo1">
            <a href="https://misterfantasy.es/es/" target="_blank"> <!-- Agregamos el enlace aquí -->
                <img class="mf" src="../assets/img/misterfantasy_logo.png" alt="Misterfantasy">
            </a>
            <!-- <img class="sombra" src="../assets/img/sombra.png" alt="Sombra"> -->
        </div>
        <div class="logo2">
            <a href="https://www.hpe.com/es/es/home.html#" target="_blank"> <!-- Agregamos el enlace aquí -->
                <img class="hpe" src="../assets/img/hpe_logo.png" alt="HPE">
            </a>
            <!-- <img class="sombra" src="../assets/img/sombra.png" alt="Sombra"> -->
        </div>
    </div>    
   
  







    <!--<script src="../js/script.js"></script>-->