
    <div class="loader">
        <img src="../files/logo.png" alt="Dream League Assistant logo" id="fadeImage">
    </div>

    <header>
        <div class="logo">
            <h1>Logo de la Empresa</h1>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Jugadores</a></li>
                <li><a href="#">Mercado</a></li>
            </ul>
        </nav>
    </header>
    <div class="slider">
        <div class="column">
            <img src="../files/Alaves.png" alt="Alavés logo">
            <img src="../files/Almeria.png" alt="Almería logo">
            <img src="../files/Athletic.png" alt="Athletic Bilbao logo">
            <img src="../files/Atleti.png" alt="Atlético Madrid logo">
            <img src="../files/Barcelona.png" alt="Barcelona logo">
        </div>
        <div class="column">
            <img src="../files/Betis.png" alt="Real Betis logo">
            <img src="../files/Cadiz.png" alt="Cádiz logo">
            <img src="../files/Celta de Vigo.png" alt="Celta de Vigo logo">
            <img src="../files/Getafe.png" alt="Getafe logo">
            <img src="../files/Girona.png" alt="Girona logo">
        </div>
        <div class="column">
            <img src="../files/Granada.png" alt="Granada logo">
            <img src="../files/Las Palmas.png" alt="Las Palmas logo">
            <img src="../files/Madrid.png" alt="Real Madrid logo">
            <img src="../files/Mallorca.png" alt="Mallorca logo">
            <img src="../files/Osasuna.png" alt="Osasuna logo">
        </div>
        <div class="column">
            <img src="../files/Rayo Vallecano.png" alt="Rayo Vallecano logo">
            <img src="../files/Real Sociedad.png" alt="Real Sociedad logo">
            <img src="../files/Sevilla.png" alt="Sevilla logo">
            <img src="../files/Valencia.png" alt="Valencia logo">
            <img src="../files/Villareal.png" alt="Villarreal logo">
        </div>
    </div>  
    <footer>
        <p>&copy; 2024 Dream League Assitant. Todos los derechos reservados.</p>
    </footer>

    <script src="../js/script.js"></script>