<body>
    <button type="button" class="btn btn-success btn-lg">EMPIEZA YA</button>
</body>
    
  




<!--
    <div class="slider">
        <div class="column">
            <img src="../../assets/img/Alaves.png" alt="Alavés logo">
            <img src="../assets/img/Almeria.png" alt="Almería logo">
            <img src="../assets/img/Athletic.png" alt="Athletic Bilbao logo">
            <img src="../assets/img/Atleti.png" alt="Atlético Madrid logo">
            <img src="../assets/img/Barcelona.png" alt="Barcelona logo">
        </div>
        <div class="column">
            <img src="../assets/img/Betis.png" alt="Real Betis logo">
            <img src="../assets/img/Cadiz.png" alt="Cádiz logo">
            <img src="../assets/img/Celta de Vigo.png" alt="Celta de Vigo logo">
            <img src="../assets/img/Getafe.png" alt="Getafe logo">
            <img src="../assets/img/Girona.png" alt="Girona logo">
        </div>
        <div class="column">
            <img src="../assets/img/Granada.png" alt="Granada logo">
            <img src="../assets/img/Las Palmas.png" alt="Las Palmas logo">
            <img src="../assets/img/Madrid.png" alt="Real Madrid logo">
            <img src="../assets/img/Mallorca.png" alt="Mallorca logo">
            <img src="../assets/img/Osasuna.png" alt="Osasuna logo">
        </div>
        <div class="column">
            <img src="../assets/img/Rayo Vallecano.png" alt="Rayo Vallecano logo">
            <img src="../assets/img/Real Sociedad.png" alt="Real Sociedad logo">
            <img src="../assets/img/Sevilla.png" alt="Sevilla logo">
            <img src="../assets/img/Valencia.png" alt="Valencia logo">
            <img src="../assets/img/Villareal.png" alt="Villarreal logo">
        </div>
    </div>  


    <script src="../js/script.js"></script>
-->