<body>
        <div class="menu">
            <ul>
                <div class="col-12" *ngIf="jugadores.length === 0">
                    <p>No hay jugadores para mostrar.</p>
                  </div>
                <li *ngFor="let jugador of jugadores">
                    <a>
                        <div class="player_row">
                            <div class="izquierda">
                                <img src="../../assets/img/{{jugador.equipo}}.png" alt="Imagen" class="imagen">
                                <img src="../../assets/img/{{jugador.equipo}}.png" alt="Imagen" class="imagen">
                                <img src="../../assets/img/{{jugador.equipo}}.png" alt="Imagen" class="imagen">
                            </div>
                            <img src="../../assets/img/{{jugador.equipo}}.png" alt="Imagen" class="imagen">
                            <div class="nombre">
                                <p>{{jugador.name}}</p>
                                <p>Valor actual: {{jugador.valorActual}} | Valor Futuro: {{jugador.valorFuturo}}</p>
                                <div class="valor">
                                    <div *ngFor="let valor of valores">
                                        <div [ngSwitch]="true">
                                            <div class="valorItem" *ngSwitchCase="valor <= 5" style="background-color: rgb(219, 201, 12);">{{ valor }}</div>
                                            <div class="valorItem" *ngSwitchCase="valor >= 6 && valor <= 9" style="background-color: green;">{{ valor }}</div>
                                            <div class="valorItem" *ngSwitchCase="valor >= 10" style="background-color: blue;">{{ valor }}</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="boton">Comprar</button>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
</body>
