@import '../app.component';

body {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    background-color: $body;
}

.card {
    background-color: $tarjeta;
    border-radius: 20px;
    box-shadow: 0 4px 8px $negrosemit, 0 6px 20px $negrosemit;
    padding: 20px;
    color: $blanco;
}

.card-header {
    border-bottom: 0.2px solid $blanco;
}

.custom-dropdown-toggle {
    background-color: $toggle;
    color: $blanco;
    border-color: $toggle;
    border-radius: 8px;
    width: 100px;
    height: 45px;
}

h4 {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 550;
    color: $blanco;
    font-size: large;
}

p {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 500;
    color: $blanco;
}

.list-group-item {
    height: auto;
    padding: 10px;
    // background-color: #212529;
    color: $blanco;
    border: none;
    margin-bottom: 10px;
    border-radius: 8px;
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columnas */
    gap: 10px; /* Espacio entre las columnas */
}

.column-3 {
    display: grid;
    grid-template-rows: 1fr 1fr; /* 2 filas en la tercera columna */
    gap: 10px; /* Espacio entre las filas */
}

.player-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player-list-item img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.player-details {
    display: flex;
    flex-direction: column;
}

.player-details span {
    font-family: "Noto Sans", sans-serif;
    color: $blanco;
}

.player-details .position {
    font-size: smaller;
    // color: #bbb;
}

.rating {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.rating span {
    font-size: large;
    color: $amarillo;
    margin-right: 5px;
}

.rating div {
    width: 50px;
    height: 10px;
    background-color: $amarillo;
    border-radius: 5px;
}

.list-group-item-custom {
    background-color: $tarjeta;
    color: $blanco;
    border: none;
    margin-bottom: 10px;
    border-radius: 8px;
}

// .list-group-item-custom:hover {
//     background-color: #343a40;
// }

.rating-square {
    width: 25px; /* Ancho del cuadrado */
    height: 25px; /* Altura del cuadrado */
    border: 2px solid $gris; /* Borde del cuadrado */
    position: relative;
}

.fill {
    height: 100%;
    width: 0%;
    background-color: $rojo; /* Color inicial del relleno */
}

.logo{
    width: 25px !important;
    height: 25px !important; 
}

.logo-equipo1, .logo-equipo2 {
    width: 30px !important;
}