<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">



<body>
    <div class="container-fluid">
      <section id="titulo" class="showcase-area">
        <div class="showcase-container">
          <h1 class="main-title text-center">Recomendaciones</h1>
        </div>
      </section>
        <div class="row">
            <!--Tarjeta 1-->
            <div class="col-4">
                <div class="card custom-bg-color mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                        <h4>Mejores jugadores</h4>
                        <div class="btn-group">
                            <div class="container">
                                <select (change)="onSelect($event, 1)" class="custom-select">
                                  <option *ngFor="let data of jsonData1" [value]="data.value">{{data.label}}</option>
                                </select>
                                <!-- <p *ngIf="selectedValue1">Selected Value: {{selectedValue1}}</p> -->
                            </div>                    
                        </div>                        
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-custom">
                                <div class="player-grid">
                                    <div class="player-list-item">1</div>
                                    <div class="player-list-item"><img src="../../assets/img/angel.jpeg" alt=""></div>
                                    <div class="column-3">
                                        <div class="player-list-item">Jude Bellingham</div>
                                        <div class="player-list-item">
                                            <div class="equipo">
                                                <img src="../../assets/img/angel.jpeg" class="logo"> Angel C.F.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="player-list-item">
                                        <div class="rating-square" style="background-color: #f0ad4e;"></div>
                                    </div>
                                    <div class="player-list-item">
                                        <div class="puntuacion">
                                            33
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- Repite para más elementos -->
                        </ul>
                    </div>
                </div>
            </div>
            <!--Tarjeta 2-->
            <div class="col-4">
                <div class="card custom-bg-color mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                        <h4>Historial de partidos</h4>
                        <div class="grid-container">
                            <div class="row">
                                <!-- Columna de la jornada -->
                                <div class="col-md-6">
                                    <div class="grid-item">
                                        <div class="container">
                                            <select (change)="onSelect($event, 2)" class="custom-select">
                                              <option *ngFor="let data of jsonData2" [value]="data.value">{{data.label}}</option>
                                            </select>
                                            <!-- <p *ngIf="selectedValue2">Selected Value: {{selectedValue2}}</p> -->
                                        </div>  
                                    </div>
                                </div>
                                <!-- Columna de las fechas -->
                                <div class="col-md-6">
                                    <div class="grid-item">
                                        24/06 - 26/06
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-custom">
                                <div class="grid-container">
                                    <div class="row">
                                        <!-- Columna de la fecha -->
                                        <div class="col-md-2">
                                            <div class="grid-item">
                                                24/06/24
                                            </div>
                                        </div>
                                        <!-- Columna de los equipos y números -->
                                        <div class="col-md-10">
                                            <!-- Fila del equipo 1 (Sevilla) -->
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="column-3">
                                                        <div class="player-list-item">
                                                            <div class="equipo">
                                                                <img src="../../assets/img/Sevilla.png" class="logo"> Sevilla
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="column-3">
                                                        <div class="player-list-item">
                                                            <div class="equipo">
                                                                1
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Fila del equipo 2 (Barcelona) -->
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="column-3">
                                                        <div class="player-list-item">
                                                            <div class="equipo">
                                                                <img src="../../assets/img/Barcelona.png" class="logo"> Barcelona
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="column-3">
                                                        <div class="player-list-item">
                                                            <div class="equipo">
                                                                2
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--Tarjeta 3-->
            <div class="col-4">
                <div class="card custom-bg-color mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                        <h4>Historial de partidos</h4>
                        <div class="grid-container">
                            <div class="row">
                                <!-- Columna de la jornada -->
                                <div class="col-md-6">
                                    <div class="grid-item">
                                        <div class="container">
                                            <select (change)="onSelect($event, 2)" class="custom-select">
                                              <option *ngFor="let data of jsonData2" [value]="data.value">{{data.label}}</option>
                                            </select>
                                            <!-- <p *ngIf="selectedValue2">Selected Value: {{selectedValue2}}</p> -->
                                        </div>  
                                    </div>
                                </div>
                                <!-- Columna de las fechas -->
                                <div class="col-md-6">
                                    <div class="grid-item">
                                        24/06 - 26/06
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-custom">
                                <div class="grid-container">
                                    <div class="row">
                                        <!-- Columna de la fecha -->
                                        <div class="col-md-2">
                                            <div class="grid-item">
                                                24/06/24
                                            </div>
                                        </div>
                                        <!-- Columna de los equipos y números -->
                                        <div class="col-md-10">
                                            <!-- Fila del equipo 1 (Sevilla) -->
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="column-3">
                                                        <div class="player-list-item">
                                                            <div class="equipo">
                                                                <img src="../../assets/img/Sevilla.png" class="logo"> Sevilla
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="column-3">
                                                        <div class="player-list-item">
                                                            <div class="equipo">
                                                                1
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Fila del equipo 2 (Barcelona) -->
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="column-3">
                                                        <div class="player-list-item">
                                                            <div class="equipo">
                                                                <img src="../../assets/img/Barcelona.png" class="logo"> Barcelona
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="column-3">
                                                        <div class="player-list-item">
                                                            <div class="equipo">
                                                                2
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12" id="btn">
              <!-- <a (click)="cambiarEstado()" [class.activado]="estadoBoton === 'simulacion'" [class.desactivado]="estadoBoton === 'cerrar simulacion'" class="btn btn-info" data-bs-dismiss="offcanvas">
                {{ estadoBoton.toUpperCase() }}
                </a>
          </div> -->
      </div>  
        <!-- <div class="row">
            <div class="col-md-6">
                <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                      <h4>Stats</h4>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text" id="graficos">
                        <img src="../../assets/img/grafico_barras.png" alt="" width="400" >
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                      <h4>Valor medio de la plantilla</h4>
                    </div>
                    <button type="button" class="btn btn-success dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false" style="display: inline-block;">
                        Filtrar
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Delanteros</a></li>
                        <li><a class="dropdown-item" href="#">Porteros</a></li>
                        <li><a class="dropdown-item" href="#">Mediocentros</a></li>
                        <li><a class="dropdown-item" href="#">Todos</a></li>
                      </ul>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text" id="graficos">
                        <img src="../../assets/img/grafico_barras.png" alt="" width="400" >
                      </p>
                    </div>
                  </div>
            </div>
        </div> -->
        <div id="introduccion" class="seccion">
          <h1>HOT PICKS</h1>  
      </div>

      <!-- Tarjeta de Jugadores recomendados centrada -->
      <div class="col-4">
          <div class="card custom-bg-color mb-3" style="max-width: 30rem;">
              <div class="card-header">
                  <h4>Jugadores recomendados</h4>
              </div>
              <div class="card-body">
                  <p>Este es el contenido de la nueva tarjeta.</p>
              </div>
          </div>
      </div>
</div>
</div>