<body>
    <div class="menu">
        <ul>
            <li><a>
                <div class="player_row">
                    <div class="izquierda">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                    </div>
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">
                        <p>Info 1</p>
                        <p>Info 2</p>
                        <p>Info 3</p>
                        <p>Info 4</p>
                    </div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <div class="izquierda">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                    </div>
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">
                        <p>Info 1</p>
                        <p>Info 2</p>
                        <p>Info 3</p>
                        <p>Info 4</p>
                    </div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <div class="izquierda">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                    </div>
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">
                        <p>Info 1</p>
                        <p>Info 2</p>
                        <p>Info 3</p>
                        <p>Info 4</p>
                    </div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <div class="izquierda">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                    </div>
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">
                        <p>Info 1</p>
                        <p>Info 2</p>
                        <p>Info 3</p>
                        <p>Info 4</p>
                    </div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <div class="izquierda">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                    </div>
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">
                        <p>Info 1</p>
                        <p>Info 2</p>
                        <p>Info 3</p>
                        <p>Info 4</p>
                    </div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <div class="izquierda">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                    </div>
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">
                        <p>Info 1</p>
                        <p>Info 2</p>
                        <p>Info 3</p>
                        <p>Info 4</p>
                    </div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <div class="izquierda">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                    </div>
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">
                        <p>Info 1</p>
                        <p>Info 2</p>
                        <p>Info 3</p>
                        <p>Info 4</p>
                    </div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <div class="izquierda">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                        <img src="../../assets/img/Almeria.png" alt="Imagen" class="imagen">
                    </div>
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">
                        <p>Info 1</p>
                        <p>Info 2</p>
                        <p>Info 3</p>
                        <p>Info 4</p>
                    </div>
                </div>
            </a></li>
            
        </ul>
    </div>
</body>
