body {
    background-color: #25252d;
    box-shadow: 0px 1px 20px #7c7c7c;
    display: flex;
    justify-content: center;
}
.menu{
    margin: 150px 0px 50px 0px;
    background-color: #25252d;
    padding: 10px 0px 10px 0px;
    width: 40%;
    
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center; /* Centra el texto horizontalmente */
    overflow: hidden;
    border-radius: 20px;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: #333; /* Color del texto */
    margin: 0;
    //background-color: #d3d3d3; /* Color de fondo del enlace */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.menu ul li a:hover {
    //background-color: #ddd; /* Cambia el color de fondo al pasar el ratón por encima */
}
.player_row{
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    border-bottom: 1px solid #2e2e36;
    background-color: #2e2e36;
}

.imagen {
    width: 10%; /* Tamaño de la imagen */
    height: 10%;
    align-items: center;
    
}
.nombre {
    flex: 1; /* Toma el espacio restante */
    color: white;
    margin-top:10px;
    font-family:sans-serif;
}
.nombre p{
    margin: 0;
}
.izquierda {
    margin: 5px;
    width: 20px;
    display: flex;
    flex-direction: column; /* Los elementos se disponen en columna */
}

.izquierda > img {
    margin: 2px;
    width: 100%;
    height: 100%;
}
.valor{
    color: white;
    font-size: 16px;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.valorItem{
    border: 2px solid #126102;
    border-radius: 50%;
    margin: 0px 2px 0px 2px;
    width: 30px;
    height: 30px;
}
.valor p{
    color:black
}
.boton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .boton:hover {
    background-color: #45a049;
  }