<body>
    <div class="menu">
        <ul>
            <li><a>
                <div class="player_row">
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">Mercado 1</div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">Mercado 1</div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">Mercado 1</div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">Mercado 1</div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">Mercado 1</div>
                </div>
            </a></li>
            <li><a>
                <div class="player_row">
                    <img src="../../assets/img/Alaves.png" alt="Imagen" class="imagen">
                    <div class="nombre">Mercado 1</div>
                </div>
            </a></li>
        </ul>
    </div>
</body>
