<!-- login.component.html -->

<h1>Iniciar Sesión</h1>
<!-- <form (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo Electrónico</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="email" name="email" required>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="password" name="password" required>
  </div> -->
  <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
<!-- </form> -->