@import url(../../styles.scss);
.navbar {
   position: fixed;  //Para que esté dentro de la vista
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   z-index: 20000;  
   
}
.custom-text-color {
   color: white;
 }
.bg-custom{
   background-color: #020614;
}
.navbar-nav .nav-item .nav-link:hover {
   color: #ffc107; // Cambia el color del texto al pasar el cursor
}
.navbar-nav .nav-item .nav-link{
   font-family: 'Barlow', sans-serif;
}
#logindentro{
   
}
#logindentro p{
   margin-top: 1vh;
   font-family: 'Barlow', sans-serif;
}
.scrolled-color {
   background-color: #b88639; // Cambia el color de fondo del botón al hacer scroll
   color: #ffffff; // Cambia el color del texto del botón al hacer scroll 
   border-color: #b88639;
 }
.container {
   display: flex;
   align-items: center;
}
.nav-link:hover {
   color: #fff; //Color de texto para el elemento activo
 }
// Estilos para el elemento de navegación activo 
// .nav-link {
//    position: relative; // Posición relativa para el elemento de navegación 
//    color: #ffc107; // Color de texto para el elemento activo 
//  }

// Estilos para el elemento de navegación activo 
.nav-item.active .nav-link {
   position: relative; // Posición relativa para el elemento de navegación 
   // color: #ffc107; // Color de texto para el elemento activo 
 }

 .nav-item.active .nav-link::after {
   content: ''; // Pseudo-elemento para el indicador 
   position: absolute;
   bottom: -2px; // Posición inicial del indicador 
   left: 0;
   width: 0; // Ancho inicial del indicador 
   height: 2px; // Altura del indicador 
   background-color: #ffc107; // Color del indicador 
   transition: width 0.3s ease; // Transición suave para el ancho 
 }

  //Aplicar el ancho completo y la posición cuando el enlace está activo
  .nav-item.active .nav-link::after {
   width: 100%;
   left: 0;
 }

.nav-link:hover {
   color: #fff; // Color de texto para el elemento activo
 }

// Estilos para el elemento de navegación activo 
// .nav-link {
//    position: relative; // Posición relativa para el elemento de navegación 
//    color: #ffc107; // Color de texto para el elemento activo 
//  }
 
// Estilos para el elemento de navegación activo 
.nav-item.active .nav-link {
   position: relative; // Posición relativa para el elemento de navegación 
   // color: #ffc107; // Color de texto para el elemento activo 
 }
 
 .nav-item.active .nav-link::after {
   content: ''; // Pseudo-elemento para el indicador 
   position: absolute;
   bottom: -2px; // Posición inicial del indicador 
   left: 0;
   width: 0; // Ancho inicial del indicador 
   height: 2px; // Altura del indicador 
   background-color: #ffc107; // Color del indicador 
   transition: width 0.3s ease; // Transición suave para el ancho 
 }

  // Aplicar el ancho completo y la posición cuando el enlace está activo
  .nav-item.active .nav-link::after {
   width: 100%;
   left: 0;
 }

@media(max-width:991px){
   .sidebar{
      background-color: rgba(255,255,255,0.15);
      backdrop-filter: blur(10px);
      z-index: 20000;
   }

   .offcanvas-body{
      // background-color: black;
      display: flex;
      justify-content: center;
      
   }
   .offcanvas-header{
      // background-color: black;
   }

   // .loginbutton{
   //    position: relative;
   //    display: flex;
   //    justify-content: center;
   //    margin-top: 30px;
   // }

   .navbar{
      display: flex;
      justify-content: center;
   }
   .navbar-nav .nav-item {
      margin-bottom: 15px; 
      

    }
}