// @import url(../../styles.scss);
.navbar {
   position: fixed;  //Para que esté dentro de la vista
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   z-index: 20000;  
   
}
.custom-text-color {
   color: var(--blanco);
 }
.bg-custom{
   background-color: var(--negro);
}
.navbar-nav .nav-item .nav-link:hover {
   color: var(--dorado); // Cambia el color del texto al pasar el cursor
}
.navbar-nav .nav-item .nav-link{
   font-family: 'Barlow', sans-serif;
}
#logindentro{
   
}
#logindentro p{
   margin-top: 1vh;
   font-family: 'Barlow', sans-serif;
}
.scrolled-color {
   background-color: var(--dorado);
   color: var(--blanco);
   border-color: var(--dorado);
 }
.container {
   display: flex;
   align-items: center;
}
.nav-link:hover {
   color: var(--blanco);
 }


.nav-item.active .nav-link {
   position: relative;
 }

 .nav-item.active .nav-link::after {
   content: ''; // Pseudo-elemento para el indicador 
   position: absolute;
   bottom: -2px; // Posición inicial del indicador 
   left: 0;
   width: 0; // Ancho inicial del indicador 
   height: 2px; // Altura del indicador 
   background-color: var(--dorado);
   transition: width 0.3s ease; 
 }

  //Aplicar el ancho completo y la posición cuando el enlace está activo
  .nav-item.active .nav-link::after {
   width: 100%;
   left: 0;
 }

.nav-link:hover {
   color: var(--dorado); // Color de texto para el elemento activo
 }


.nav-item.active .nav-link {
   position: relative; // Posición relativa para el elemento de navegación 
   // color: #ffc107; // Color de texto para el elemento activo 
 }
 
 .nav-item.active .nav-link::after {
   content: ''; // Pseudo-elemento para el indicador 
   position: absolute;
   bottom: -2px; // Posición inicial del indicador 
   left: 0;
   width: 0; // Ancho inicial del indicador 
   height: 2px; // Altura del indicador 
   background-color: var(--dorado); // Color del indicador 
   transition: width 0.3s ease; // Transición suave para el ancho 
 }

  // Aplicar el ancho completo y la posición cuando el enlace está activo
  .nav-item.active .nav-link::after {
   width: 100%;
   left: 0;
 }

@media(max-width:991px){
   .sidebar{
      background-color: rgba(255,255,255,0.15);
      backdrop-filter: blur(10px);
      z-index: 20000;
   }

   .offcanvas-body{
      display: flex;
      justify-content: center;
      
   }

   .navbar{
      display: flex;
      justify-content: center;
   }
   .navbar-nav .nav-item {
      margin-bottom: 15px; 
      

    }
}

 .login-button:hover {
   background-color: var(--dorado);
   color: var(--blanco);
   border-color: var(--dorado);
 }