body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;  
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding-top: 100px;
    background-color: #25252d;
}
.menu{
    // margin: 150px 0px 50px 0px;
    background-image: url('/assets/img/image-removebg-preview.png');
    // border-radius: 10px;
    width: 45%; /* Ancho del contenedor */
    height: 50%; /* Altura del contenedor */
    position: relative; /* Para posicionar la caja absolutamente en relación con el contenedor */
    // align-self: center;
    // width: 100%; /* Ajusta el ancho al 100% del contenedor padre */
    // height: 0; /* Inicialmente establece la altura en 0 */
    padding-top: 50%; /* Establece el alto en función del ancho (aspect ratio 1:2) */
    background-size: contain; /* Cubre completamente el contenedor con la imagen */
    background-position: center; /* Centra la imagen dentro del contenedor */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
}
.box {
    // width: 75px; /* Ancho de la caja */
    // height: 75px; /* Altura de la caja */
    // transform: translateX(-50%); /* Centra horizontalmente la caja */

    width: 10%; /* Modifica el tamaño de los iconos */
    height: auto; /* Para mantener la relación de aspecto */
    position: absolute;
    // top: calc(50% - 3.75%); /* Alinea verticalmente en el centro del contenedor */
    // left: calc(50% - 3.75%);
    // transform: translateX(-50%, -50%);
}

//Posicion de los iconos dentro de la imagen
.uno{ position: absolute; top: 12.5%; left: 30%; }
.dos{ position: absolute; top: 12.5%; left: 60%; }
.tre{ position: absolute; top: 32.5%; left: 15%; }
.cua{ position: absolute; top: 32.5%; left: 35%; }
.cin{ position: absolute; top: 32.5%; left: 55%; }
.sei{ position: absolute; top: 32.5%; left: 75%; }
.sie{ position: absolute; top: 52.5%; left: 15%; }
.och{ position: absolute; top: 52.5%; left: 35%; }
.nue{ position: absolute; top: 52.5%; left: 55%; }
.die{ position: absolute; top: 52.5%; left: 75%; }
.onc{ position: absolute; top: 78%; left: 45%; }

@media (max-width: 1140px) {
    .menu {
        height: auto; /* Desactiva la altura fija */
        max-height: 500px; /* Establece una altura máxima */
    }
}

.imagen{
    width: 100%;
    height: auto;
}
.icono{
    width: 25px;height: 25px;
    margin-right: 5px;
}
.jugador p {
    margin: 0;
}
.jugador{
    margin: 15px;
    display: flex;
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Hereda el color del texto de su contenedor */
}
.jugador:hover {
    background-color: rgba(0, 0, 255, 0.1); /* Cambia el color de fondo al pasar el ratón por encima */
    cursor: pointer;
}  
// .item {
//    // margin: 200px 50px 100px 50px;
//     // background-color: #bcc3c6;
//     border-radius: 10px;
   
// }
.alineaciones{
    margin: 100px;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alineaciones button {
    // border: 1px solid black; /* Añade bordes para visualización */
    background-color: #2e2e36;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.item.lista{
    background-color: #2e2e36;
}