body {
    background-color: #444444; /* Fondo gris claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100%;
}
.todo{
    background-color: #7c7c7c;
    box-shadow: 0px 1px 20px #7c7c7c;
    width: 100%;
    min-height: 100vh;
    margin: 4cm 0px 0px 0px;
    display: flex;
    justify-content: center;
}
.menu{
    margin: 50px 0px 50px 0px;
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    width: 40%;
}
.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center; /* Centra el texto horizontalmente */
}

.menu ul li a {
    display: block;
    text-decoration: none;
    color: #333; /* Color del texto */
    margin: 0;
    background-color: #d3d3d3; /* Color de fondo del enlace */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.menu ul li a:hover {
    background-color: #ddd; /* Cambia el color de fondo al pasar el ratón por encima */
}
.player_row{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #444444;
}

.imagen {
    width: 10%; /* Tamaño de la imagen */
    height: 10%;
    align-items: center;
}
.nombre {
    flex: 1; /* Toma el espacio restante */
}
.nombre p{
    margin: 0;
}
.izquierda {
    margin: 5px;
    width: 20px;
    display: flex;
    flex-direction: column; /* Los elementos se disponen en columna */
}

.izquierda > img {
    margin: 2px;
    width: 100%;
    height: 100%;
}
.valor{
    color: white;
    font-size: 16px;
    font-style: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.valorItem{
    border: 2px solid #126102;
    background-color: #1a9a01;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 2px 0px 2px;
    width: 30px;
    height: 30px;
}
.valor p{
    color:black
}