<body>
    <div class="item menu">
        <div class="col-12" *ngIf="jugadors.length === 0">
            <p>No hay jugadores para mostrar.</p>
        </div>
        <div *ngFor="let jugador of jugadors">
            <a>
                <div class="box {{jugador.class}}">
                    <img src="../../assets/img/{{jugador.icono}}.png" class="imagen" >
                </div>
            </a>
        </div>
    </div>
    <footer>
    <div class="item lista">
        <div class="col-12" *ngIf="jugadors.length === 0">
            <p>No hay jugadores para mostrar.</p>
        </div>
        <div *ngFor="let jugador of jugadors">
            <div class="nombre">
                <a (click)="aplicarReglas1()" class="jugador">
                    <img src="../../assets/img/{{jugador.icono}}.png" class="icono" >
                    <p>{{jugador.nombre}}</p>
                </a>
            </div>
        </div>
    </div>
</footer>
    <!-- <div class="item alineaciones">
        <button (click)="aplicarReglas1()">Alineacion: 4-4-2</button>  
        <button (click)="aplicarReglas2()">Alineacion: 4-3-3</button>
        <button (click)="aplicarReglas3()">Alineacion: 3-4-3</button>
    </div> -->
</body>
