body {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;  
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding-top: 100px;
    background-color: #25252d;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn p{
margin: 0px;
}
.menu{
    background-image: url('/assets/img/image-removebg-preview.png');
    width: 45%;
    height: 50%;
    position: relative; /* Para posicionar la caja absolutamente en relación con el contenedor */
    padding-top: 50%; /* Establece el alto en función del ancho (aspect ratio 1:2) */
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}
.box {
    width: 10%;
    height: auto; /* Para mantener la relación de aspecto */
    position: absolute;
}

//Posicion de los iconos dentro de la imagen
.uno{ position: absolute; top: 12.5%; left: 30%; }
.dos{ position: absolute; top: 12.5%; left: 60%; }
.tre{ position: absolute; top: 32.5%; left: 15%; }
.cua{ position: absolute; top: 32.5%; left: 35%; }
.cin{ position: absolute; top: 32.5%; left: 55%; }
.sei{ position: absolute; top: 32.5%; left: 75%; }
.sie{ position: absolute; top: 52.5%; left: 15%; }
.och{ position: absolute; top: 52.5%; left: 35%; }
.nue{ position: absolute; top: 52.5%; left: 55%; }
.die{ position: absolute; top: 52.5%; left: 75%; }
.onc{ position: absolute; top: 78%; left: 45%; }

#btn1{ position: absolute; top: 12.5%; left: 37%;}
#btn2{ position: absolute; top: 12.5%; left: 67%;}
#btn3{ position: absolute; top: 32.5%; left: 21%;}
#btn4{ position: absolute; top: 32.5%; left: 43%;}
#btn5{ position: absolute; top: 32.5%; left: 60%;}
#btn6{ position: absolute; top: 32.5%; left: 82%;}
#btn7{ position: absolute; top: 52.5%; left: 21%;}
#btn8{ position: absolute; top: 52.5%; left: 43%;}
#btn9{ position: absolute; top: 52.5%; left: 60%;}
#btn10{ position: absolute; top: 52.5%; left: 82%;}
#btn11{ position: absolute; top: 78%; left: 50%;}

.col-md-6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    width: 100%;
    height: auto;
}
.icono{
    width: 25px;height: 25px;
    margin-right: 5px;
}
.jugador{
    margin-bottom: 15px;
    display: flex;
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Hereda el color del texto de su contenedor */
}
.jugador:hover {
    background-color: rgba(0, 0, 255, 0.1); /* Cambia el color de fondo al pasar el ratón por encima */
    cursor: pointer;
}  
.alineaciones{
    margin: 100px;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alineaciones button {
    background-color: #2e2e36;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.item.lista{
//     background-color: #25252d;
    margin-top: 80px;
//     margin-left: 60px;
}

.nombre{
    border-radius: 10px;
    background-color: #2e2e36;
}

p{
    color:white;
}

@media (max-width: 1140px) {
    .menu {
        height: auto; /* Desactiva la altura fija */
        max-height: 500px; /* Establece una altura máxima */
    }

    .lista{
        height: auto; /* Desactiva la altura fija */
        max-height: 500px; /* Establece una altura máxima */
    }

    p{
        font-size: 10px;
    }
}