<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="item menu">
                    <div class="col-12" *ngIf="jugadors.length === 0">
                        <p>No hay jugadores para mostrar en el menú.</p>
                    </div>
                    <div *ngFor="let jugador of jugadors">
                      <div class="nombre"></div>
                      <a class="jugador" (click)="openDialog(jugador)">
                        <div class="box {{jugador.class}}">
                          <img src="../../assets/img/{{jugador.icono}}.png" class="imagen">
                        </div>
                      </a>
                    </div>                                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="item lista">
                    <div class="col-12" *ngIf="jugadors.length === 0">
                        <p>No hay jugadores para mostrar en la lista.</p>
                    </div>
                    <div *ngFor="let jugador of jugadors">
                        <div class="nombre">
                            <a class="jugador">
                                <img src="../../assets/img/{{jugador.icono}}.png" class="icono" >
                                <p>{{jugador.nombre}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12" id="btn">
              <!-- <a (click)="cambiarEstado()" [class.activado]="estadoBoton === 'simulacion'" [class.desactivado]="estadoBoton === 'cerrar simulacion'" class="btn btn-info" data-bs-dismiss="offcanvas">
                {{ estadoBoton.toUpperCase() }}
                </a>
          </div> -->
      </div>  
        <div class="row">
            <div class="col-md-6">
                <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                      <h4>Stats</h4>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text" id="graficos">
                        <img src="../../assets/img/grafico_barras.png" alt="" width="400" >
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                      <h4>Valor medio de la plantilla</h4>
                    </div>
                    <button type="button" class="btn btn-success dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false" style="display: inline-block;">
                        Filtrar
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Delanteros</a></li>
                        <li><a class="dropdown-item" href="#">Porteros</a></li>
                        <li><a class="dropdown-item" href="#">Mediocentros</a></li>
                        <li><a class="dropdown-item" href="#">Todos</a></li>
                      </ul>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text" id="graficos">
                        <img src="../../assets/img/grafico_barras.png" alt="" width="400" >
                      </p>
                    </div>
                  </div>
            </div>
        </div>
</div>
</div>