<body>
    <div class="todo">
        <div class="menu">
            <ul>
                <div class="col-12" *ngIf="jugadors.length === 0">
                    <p>No hay jugadores para mostrar.</p>
                  </div>
                <li *ngFor="let jugador of jugadors">
                    <a>
                        <div class="player_row">
                            <div class="izquierda">
                                <img src="../../assets/img/{{jugador.icono}}.png" alt="Imagen" class="imagen">
                                <img src="../../assets/img/{{jugador.icono}}.png" alt="Imagen" class="imagen">
                                <img src="../../assets/img/{{jugador.icono}}.png" alt="Imagen" class="imagen">
                            </div>
                            <img src="../../assets/img/{{jugador.equipo}}.png" alt="Imagen" class="imagen">
                            <div class="nombre">
                                <p>Nombre: {{jugador.nombre}}</p>
                                <p>Valor actual: {{jugador.valorActual}} | Valor Futuro: {{jugador.valorFuturo}}</p>
                                <div class="valor">
                                    <div class="valorItem">{{jugador.puntos}}</div>
                                    <p>-></p>
                                    <div class="valorItem">{{jugador.puntos}}</div>
                                    <p>-></p>
                                    <div class="valorItem">{{jugador.puntos}}</div>
                                    <p>-></p>
                                    <div class="valorItem">{{jugador.puntos}}</div>
                                </div>
                                <p>Información adicional</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
