.navbar {
   position: fixed;
   top: 0;
   z-index: 1000; /* Asegura que el navbar esté por encima del contenido */
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-around;
 }

//  .navbar::after {
//     content: "";
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     width: 80%;
//     height: 10px;
// }

.logo {
   cursor: pointer;
   width: 100px;
   height:auto;
}

.btn-success {
   margin-top: 17px;
   margin-left: 25px;
   height: 60px;
   width: 200px;
   font-size: 23px;
}

.nav-link {
   margin-right: 25px;
   margin-top: 30px;
}