@import '../app.component';

body {
  width: 100%;
  height: auto;
  padding-top: 125px;
  background-color: $body;
}

.btn-rrss {
  font-size: 2.5rem; // Ajusta el tamaño del texto 
  padding: 20px 25px; //Ajusta el relleno del botón 
}



h1{
  left: 0;
  color: $blanco;
  // padding-left: 150px;
  // padding-bottom: 500px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-size: 80px;
  font-style: oblique;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.col-sm-3 h1{
  font-style: normal;
}

.col-sm-12 h1{
  font-style: normal;
  color: $grisclaro;
}

h1.titulo{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  color: $azul;
  display: flex;
  justify-content: center;
  font-weight: 270;

}

h2{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  color: $blanco;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

h3{
  left: 0;
  color: $blanco;
  // padding-left: 150px;
  // padding-bottom: 500px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 500;
  font-size: 80px;
  font-style: oblique;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.rrss{
  display: flex;
  justify-content: center;
}

.cuerpo_rrss h2{
  font-size: x-large;
}

.card .card-body{
  background-color: $body;
  
}
.card-title{
  color: #fff;
  font-size:xx-large;
  margin-top: 2vh;
  font-family: 'Barlow Condensed', sans-serif;;
}
#fotos {
  // background: linear-gradient(to bottom, #989fa7, #575c60);
  height: 100px;
}

#textoFotos{
  // background:$azul;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: xxx-large;
  color: $blanco;
  padding-top: 3vh;
  
}

.col-sm-12{
  // background-color: $azul;
}

.row-inicial{
  display: flex;
  justify-content:space-evenly;

}
.col-sm-12 h1{
  margin-top: 3vh;
}
.col-sm-12 p{
  color: $blanco;
}

.col-sm-3{
  display: flex;
  justify-content: center;
 
}

.componentes-grid{
  // background: linear-gradient(to bottom, #989fa7, #575c60);
  padding-top: 3vh;
  padding-left: 2vw;
  padding-right:2vw;
}

img .row-inicial{

}

.tituloColab{
  padding-top: 10vh;
  margin-bottom: 2vh;
}
#rrss{
  
  background-color: $dorado;
}
.cuerpo_rrss{
  padding-top: 5vh;
}
.titulo{
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 70px;
  line-height: 1.25;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-image:  url('../../assets/img/programming-background-with-person-working-with-codes-computer-scaled.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

#text{
  text-align: center;
}
.mision{
  // background-color:$azul;
  color: $blanco;
  margin: 0px;
  padding-left: 2vw;
  padding-top: 10vh;
  padding-bottom: 5vh;
  padding-right: 2vw;
  display: flex;
  flex: 1;
}
#textMision{
  margin-right: 1vw;
  margin-top: 5vh;
  font-size: x-large;
}

#intro{
  // background-color:$azul;
  color: $blanco;

  
}
.textoFotos{
  padding-top: 2vh;
  text-align: left;
}


#info {
  // background-color: $azul;
  margin: 0px;
  padding-left:1vw;
  padding-bottom: 3vh;
  padding-top:2vh ;
  
}

.mb-4{
  background-color: $dorado;
  margin:0px;
}

h2{
  color: $blanco;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:large;
}

// @media screen and (max-width: 900px) {
//    #imgInicio{
//     width: 50px;
//     height: auto;
//    }
// }

// body {
//   width: 100%;
//   height: auto;
//     background-color: #25252d;
//     margin: 0;
//     padding: 0;
//     display: flex;
//     justify-content: center; 
//     align-items: center; 
//     height: 100%;
//     padding-top: 100px;
// }
// .titulo{
//     width: 100%;
//     margin: 30px;
// }
// .titulo h1{
//     margin-top: 20px;
//     text-align: center;
//     font-size: 21px;
//     color:white;
//     font-weight: bolder;
//     padding-bottom: 20px;
// }
//   .quienes_somos h2{
//     text-align: center;
//     padding-bottom: 20px;
//     font-size: 15px;
//     color: white;
//     text-align: justify;
//     margin: 30px;
//     }
  
//   .persona-image{
//     width: 130px;
//     height: 150px;
//   }
//   .componentes-grid{
//     margin: 10px 30px;
//     align-items: center;
//     justify-content: center;
//   }

#titulo {
  //height: 50vh;
  background: #fff;
  background-image: 
        linear-gradient(
            rgba(255, 255, 255, 0.4), 
            rgba(255, 255, 255, 0.5)
        ),
        url("../../assets/img/personas_sobreNosotros.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
  
}

.tituloColab h1 {
  text-align: center;
}

.logo1 {
  padding-top: 3.5%;
  text-align: center;
  margin-bottom: 20px; /* Ajusta el espaciado según tus necesidades */
}

.centered-logo {
  width: 300px; /* Ajusta el tamaño según tus necesidades */
  max-width: 100%; /* Asegura que la imagen no sea más grande que su contenedor */
}

.card-img-top {
  
  width: 100%;
  height: auto; /* Para mantener la proporción de la imagen */
}

.card-body {
  background-color: white; /* Ajusta el color de fondo deseado */
  /* Otros estilos para card-body */
}

.card {
  background-color: transparent;
  border: none; /* Opcional: elimina el borde si lo deseas */
}

p{
  color: $blanco;
}