<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">



<body>
    <section id="titulo" class="showcase-area">
        <div class="showcase-container">
          <h1 class="main-title text-center">Sobre Nosotros</h1>
        </div>
      </section>
    <div id="intro" class="seccion" >
        <!-- <h1 class="titulo">
            SOBRE NOSOTROS
        </h1> -->
        <div class= "mision">
            <div class="textoMision">
                <div class="row-inicial">
                    <div class="col-md-6" id="text">
                        <h3 >NUESTRA MISIÓN</h3>
                        <p id="textMision">  
                            <br>
                            Somos un equipo de apasionados informáticos estudiantes de la Universidad Europa de Madrid dedicados a crear soluciones innovadoras para satisfacer las necesidades de nuestros clientes. 
                            <br> Nuestra última iniciativa es el desarrollo de una <b>plataforma web asistente diseñada específicamente para una liga virtual de fútbol. </b>
                            <br>
                            <br>
                            <!-- Nuestro equipo se compromete a ofrecer una experiencia única y emocionante para los participantes de la liga.  -->
                            Estamos comprometidos con la excelencia y nos esforzamos por proporcionar una herramienta eficaz y fácil de usar que mejore la gestión y el disfrute de la liga para todos los involucrados.
                        </p>
                    </div>
                    <div class="col-3" id = "imgInicio">
                        <img src="../../assets/img/desarr.jpg" width="700px">
                    </div>
                </div>
            </div>
        </div>
                <!--<div class="col-md-6">
                    <div id="carouselExampleCaptions" class="carousel slide " data-bs-ride="carousel">
                        <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../../assets/img/desarr.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/img/saque.webp" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="../../assets/img/alianza.jpg" class="d-block w-100" alt="...">
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    </div>-->
                
           
        </div>
    
        <div id="rrss" class="seccion">
            <div class="cuerpo_rrss">
                <h1> ¡NO TE PIERDAS NADA! </h1>
                <h2> Síguenos en nuestras redes sociales</h2>
                <section class="rrss" >
                    <!-- Twitter -->
                    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 btn-lg" href="https://twitter.com/fantasy_DLA" role="button">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <!-- Instagram -->
                    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 btn-lg" href="https://www.instagram.com/fantasy_DLA/" role="button">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <!-- GitHub -->
                    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 btn-lg" href="https://linktr.ee/dreamleagueassistant" role="button">
                        <i class="fab fa-github"></i>
                    </a>
                    <!-- LinkedIn -->
                    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1 btn-lg" href="https://linktr.ee/dreamleagueassistant" role="button">
                        <i class="fab fa-linkedin"></i>
                    </a> 
                </section>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-sm-4 col-md-3 text-center">

                    <div class="card" style="width: 18rem;">
                        <img src="../../assets/img/bgraquel.png" class="card-img-top" alt="" width="100">
                        <div class="card-body">
                          <h5 class="card-title">
                            RAQUEL GARCIA
                          </h5>
                          <!-- <p class="card-text"></p> -->
                        </div>
                      </div>
                </div>
                <div class="col-sm-4 col-md-3 text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="../../assets/img/bgpelayo.png" class="card-img-top" alt="" width="100">
                        <div class="card-body">
                          <h5 class="card-title">
                            PELAYO VAZQUEZ
                          </h5>
                          <!-- <p class="card-text"></p> -->
                        </div>
                      </div>
                </div>
                <div class="col-sm-4 col-md-3 text-center">
                    <div class="card" style="width: 18rem;">
                        <img src="../../assets/img/bgleticia.png" class="card-img-top" alt="" width="100">
                        <div class="card-body">
                          <h5 class="card-title">
                            LETICIA GRUÑEIRO
                          </h5>
                          <!-- <p class="card-text"></p> -->
                        </div>
                      </div>
                </div>
            </div>
        </div>

        <div class="tituloColab">
            <h1> SOBRE NUESTRAS COLABORACIONES... </h1>
        </div>  
        
        <div class="logo1">
            <img src="../../assets/img/hpe_logo.png" class="centered-logo">
        </div>
        
        <div class="row row-inicial">
            <div class="col-6" id="text">
                <p id="textMision">  
                    HPE se puso en contacto con nuestro equipo para llevar a cabo lo que acabó siendo Dream League Assistant.
                    <br>
                    Este proyecto lleva en proceso desde <b>septiembre de 2023</b>, como resultado de un proceso de aprendizaje 
                     sobre IA, recolección de datos y análisis estadístico. 
                    <br>
                    ¡Gracias por la confianza depositada, HPE!
                </p>
            </div>
            <div class="col-4 pt-5 pb-4 pl-3 pr-3" id="imgInicio">
                <img src="../../assets/img/alianza.jpg" style="width: 100%;">
            </div>
        </div>
        
        <div class="logo1">
            <img src="../../assets/img/misterfantasy_logo.png" class="centered-logo">
        </div>
        
        <div class="row row-inicial">
            <div class="col-6" id="text">
                <p id="textMision">  
                    <b>Mister Fantasy</b>, una de las plataformas de ligas virtuales del momento, es la plataforma que hemos elegido para desarrollar Dream League Assistant.
                </p>
            </div>
            <div class="col-4 pt-5 pb-4 pl-3 pr-3" id="imgInicio">
                <img src="../../assets/img/juego.avif" style="width: 100%;">
            </div>
        </div>            
        <!-- <div class="componentes-grid">
            <div class="row text-center">
                <div class="col-sm-2">
                    <div class="componente"><img src="../../assets/img/bgraquel.png" alt="" width="100">
                        <h5 class="mb-0">Raquel García</h5>
                    </div>
                </div>
        
                <div class="col-sm-2">
                <div class="componente"><img src="../../assets/img/bgpelayo.png" alt="" width="100">
                    <h5 class="mb-0">Pelayo Vázquez</h5>
                </div>
                <p  class="textoFotos">
                    Somos un equipo de apasionados informáticos dedicados a crear soluciones innovadoras para satisfacer las necesidades de nuestros clientes. 
                    Nuestra última iniciativa es el desarrollo de una plataforma web asistente diseñada específicamente para una liga virtual de fútbol.
                    Con un profundo conocimiento en tecnología y una comprensión única de las dinámicas de las ligas deportivas virtuales, nuestro equipo se compromete a ofrecer una experiencia única y emocionante para los participantes de la liga. 
                    Estamos comprometidos con la excelencia y nos esforzamos por proporcionar una herramienta eficaz y fácil de usar que mejore la gestión y el disfrute de la liga para todos los involucrados.
                </p>
                </div>
        
                <div class="col-sm-2">
                <div class="componente"><img src="../../assets/img/bgangel.png" alt="" width="100">
                    <h5 class="mb-0">Angel Escobar</h5>
                </div>
                <p  class="textoFotos">
                    Somos un equipo de apasionados informáticos dedicados a crear soluciones innovadoras para satisfacer las necesidades de nuestros clientes. 
                    Nuestra última iniciativa es el desarrollo de una plataforma web asistente diseñada específicamente para una liga virtual de fútbol.
                    Con un profundo conocimiento en tecnología y una comprensión única de las dinámicas de las ligas deportivas virtuales, nuestro equipo se compromete a ofrecer una experiencia única y emocionante para los participantes de la liga. 
                    Estamos comprometidos con la excelencia y nos esforzamos por proporcionar una herramienta eficaz y fácil de usar que mejore la gestión y el disfrute de la liga para todos los involucrados.
                </p>
                </div>
        
                <div class="col-sm-2">
                <div class="componente"><img src="../../assets/img/bgleticia.png" alt="" width="100">
                    <h5 class="mb-0">Leticia Gruñeiro</h5>
                </div>
                <p  class="textoFotos">
                    Somos un equipo de apasionados informáticos dedicados a crear soluciones innovadoras para satisfacer las necesidades de nuestros clientes. 
                    Nuestra última iniciativa es el desarrollo de una plataforma web asistente diseñada específicamente para una liga virtual de fútbol.
                    Con un profundo conocimiento en tecnología y una comprensión única de las dinámicas de las ligas deportivas virtuales, nuestro equipo se compromete a ofrecer una experiencia única y emocionante para los participantes de la liga. 
                    Estamos comprometidos con la excelencia y nos esforzamos por proporcionar una herramienta eficaz y fácil de usar que mejore la gestión y el disfrute de la liga para todos los involucrados.
                </p>
                </div>
            </div>
        </div> -->
        <!--<div id="info" class="seccion">
           <div class="row text-center">
                <div class="col-xl-3 col-sm-4 mb-5" style="color: white;">
                    <p> 
                        hola
                    </p>
                </div>
                <div class="col-xl-3 col-sm-4 mb-5" style="color: white;">
                    <p> 
                       hola
                    </p>
                </div>
                <div class="col-xl-3 col-sm-4 mb-5" style="color: white;">
                    <p> 
                        hola
                    </p>
                </div>
                <div class="col-xl-3 col-sm-4 mb-5" style="color: white;">
                    <p> 
                        hola
                    </p>
                </div>
            </div>
        </div>-->
        
</body>