
footer{

    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    background-color: #333; /* Color de fondo del footer */
    color: white; /* Color del texto del footer */
    padding: 20px;
    margin-top: auto; /* Fija el footer en la parte inferior */
}