<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!--Tipografia-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- Footer -->
    <footer class="bg-body-tertiary text-center">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Sección: Links -->
            <section class="links">
                <!-- Grid row -->
                <div class="row">
                    <!-- Grid column para los enlaces -->
                    <div class="col-lg-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">LEGAL</h5>
                        <!-- Lista de enlaces -->
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="text-body" href="#!">Política de privacidad</a>
                            </li>
                            <li>
                                <a class="text-body" href="#!">Términos y condiciones</a>
                            </li>
                            <!-- Más enlaces aquí -->
                        </ul>
                    </div>
                    <!-- Fin del grid column para los enlaces -->

                    <!-- Grid column para el logo -->
                    <div class="col-lg-6 mb-4 mb-md-1">
                        <h5 class="text-uppercase">SOPORTE</h5>
                        <!-- Lista de enlaces -->
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a class="text-body" href="#!">Contacto</a>
                            </li>
                            <li>
                                <a class="text-body" href="#!">FAQ</a>
                            </li>
                            <!-- Más enlaces aquí -->
                        </ul>
                    </div>
                    <!-- Fin del grid column para el logo -->
                </div>
                <!-- Fin del grid row -->

                <!-- Multimedia -->
                <div class="multimedia">
                    <img src="..\..\..\assets\img\logo.png" alt="Logo" style="max-width: 50px;">
                    <p class="lema">Potencia tu juego, logra la victoria</p>
                    <!-- Section: Social media -->
                    <section class="mb-4">
                        <!-- Facebook -->
                        <!-- <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#!" role="button">
                            <i class="fab fa-facebook-f"></i>
                        </a> -->

                        <!-- Twitter -->
                        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://twitter.com/fantasy_DLA" role="button">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <!-- Instagram -->
                        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.instagram.com/fantasy_DLA/" role="button">
                            <i class="fab fa-instagram"></i>
                        </a>

                        <!-- Github -->
                        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://linktr.ee/dreamleagueassistant" role="button">
                            <i class="fab fa-github"></i>
                        </a>

                        <!-- LinkedIn -->
                        <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://linktr.ee/dreamleagueassistant" role="button">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </section>
                    <!-- Fin de la sección: Social media -->
                </div>
                <!-- Fin de multimedia -->
            </section>
            <!-- Fin de la sección: Links -->
        </div>
        <!-- Fin del grid container -->
    
        <!-- Copyright -->
        <!--<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">--->
            <!-- Texto de copyright -->
            © 2024 Copyright:
            <!-- Enlace de la compañía -->
            <a class="text-reset"> Dream League Assistant</a>
        <!-- Fin del copyright -->
    </footer>
    <!-- Fin del footer -->

    <!-- Importar Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>