.app-component {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/cesped_fondo.jpg'); /* Ajusta la ruta según la ubicación real de tu imagen */
    background-size: cover;
    background-position: center;
    /* Puedes agregar más propiedades según sea necesario */
}
.gap{
    height: 90vh;
    background-image: url('../assets/img/cesped_fondo.jpg'); /* Ajusta la ruta según la ubicación real de tu imagen */
    background-size: cover;
    background-position: center;
    width: 200vh;
}