@import '../app.component';

body {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;  
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding-top: 100px;
    background-color: $body;
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn p{
margin: 0px;
}
.menu{
    background-image: url('/assets/img/image-removebg-preview.png');
    width: 45%;
    height: 50%;
    position: relative; // Para posicionar la caja absolutamente en relación con el contenedor
    padding-top: 50%; // Establece el alto en función del ancho (aspect ratio 1:2)
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
}

.mat-dialog-container {
    background-color: $negro;
  }

  .mat-mdc-dialog-surface {
    background-color: $negro;
  }

.box {
    width: 10%;
    height: auto; // Para mantener la relación de aspecto
    position: absolute;
}

// .mat-mdc-dialog-surface, .mdc-dialog__surface {
//     background-color: tu-color-aquí;
// }

//Posicion de los iconos dentro de la imagen
.uno{ position: absolute; top: 12.5%; left: 30%; }
.dos{ position: absolute; top: 12.5%; left: 60%; }
.tre{ position: absolute; top: 32.5%; left: 15%; }
.cua{ position: absolute; top: 32.5%; left: 35%; }
.cin{ position: absolute; top: 32.5%; left: 55%; }
.sei{ position: absolute; top: 32.5%; left: 75%; }
.sie{ position: absolute; top: 52.5%; left: 15%; }
.och{ position: absolute; top: 52.5%; left: 35%; }
.nue{ position: absolute; top: 52.5%; left: 55%; }
.die{ position: absolute; top: 52.5%; left: 75%; }
.onc{ position: absolute; top: 78%; left: 45%; }

.btn-close{
    z-index: 200;
}

.col-md-6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    width: 100%;
    height: auto;
}
.icono{
    width: 25px;height: 25px;
    margin-right: 5px;
}
.jugador{
    margin-bottom: 15px;
    display: flex;
    text-decoration: none; // Quita el subrayado
    color: inherit; // Hereda el color del texto de su contenedor 
}
.jugador:hover {
    background-color: $azulosc_semit; // Cambia el color de fondo al pasar el ratón por encima
    cursor: pointer;
}  
.alineaciones{
    margin: 100px;
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alineaciones button {
    background-color: $grisazulado;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.item.lista{
//     background-color: #25252d;
    margin-top: 80px;
//     margin-left: 60px;
}

.nombre{
    border-radius: 10px;
    background-color: $grisazulado;
}

p{
    color: $blanco;
}

@media (max-width: 1140px) {
    .menu {
        height: auto; // la altura fija
        max-height: 500px; //Establece una altura máxima
    }

    .lista{
        height: auto; //Desactiva la altura fija
        max-height: 500px; // Establece una altura máxima
    }

    p{
        font-size: 10px;
    }
}

.card {
    background-color: $tarjeta !important;
}

#titulo {
    height: 50vh;
    background: #fff;
    background-image: 
          linear-gradient(
              rgba(255, 255, 255, 0.4), 
              rgba(255, 255, 255, 0.5)
          ),
          url("../../assets/img/programming-background-with-person-working-with-codes-computer-scaled.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 2%;
    width: auto;
    height: 200px;
  }
  
  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
  }