<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap" rel="stylesheet">



<body>
    <div class="container-fluid">
      <section id="titulo" class="showcase-area">
        <div class="showcase-container">
          <h1 class="main-title text-center">Mi plantilla</h1>
        </div>
      </section>
        <div class="row">
            <div class="col-md-6">
                <div class="item menu">
                    <div class="col-12" *ngIf="jugadores.length === 0">
                        <p>No hay jugadores para mostrar en el menú.</p>
                    </div>
                    <div *ngFor="let jugador of jugadores">
                      <div class="nombre"></div>
                      <a class="jugador" (click)="openDialog(jugador)">
                        <div class="box {{jugador.clas}}">
                          <img src="../../assets/img/{{jugador.equipo}}.png" class="imagen">
                        </div>
                      </a>
                    </div>                                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="item lista">
                    <div class="col-12" *ngIf="jugadores.length === 0">
                        <p>No hay jugadores para mostrar en la lista. </p>
                    </div>
                    <div *ngFor="let jugador of jugadores">
                        <div class="nombre">
                            <a class="jugador">
                                <img src="../../assets/img/{{jugador.equipo}}.png" class="icono" >
                                <p>{{jugador.name}}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-12" id="btn">
              <!-- <a (click)="cambiarEstado()" [class.activado]="estadoBoton === 'simulacion'" [class.desactivado]="estadoBoton === 'cerrar simulacion'" class="btn btn-info" data-bs-dismiss="offcanvas">
                {{ estadoBoton.toUpperCase() }}
                </a>
          </div> -->
      </div>  
        <div class="row">
            <div class="col-md-6">
                <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                      <h4>Stats</h4>
                    </div>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text" id="graficos">
                        <img src="../../assets/img/grafico_barras.png" alt="" width="400" >
                      </p>
                    </div>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white bg-dark mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                      <h4>Valor medio de la plantilla</h4>
                    </div>
                    <button type="button" class="btn btn-success dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false" style="display: inline-block;">
                        Filtrar
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Delanteros</a></li>
                        <li><a class="dropdown-item" href="#">Porteros</a></li>
                        <li><a class="dropdown-item" href="#">Mediocentros</a></li>
                        <li><a class="dropdown-item" href="#">Todos</a></li>
                      </ul>
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <p class="card-text" id="graficos">
                        <img src="../../assets/img/grafico_barras.png" alt="" width="400" >
                      </p>
                    </div>
                  </div>
            </div>
        </div>
</div>
</div>