$negro: #000;
$blanco: #fff;
$dorado: #bd9a53;
$fondo-oscuro: #25252d;
$colorlista: #2e2e36;
$tipog1: "https://fonts.googleapis.com";
$tipog2: "https://fonts.gstatic.com";
$Raleway: "https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap";


*{
    // background-color: azure;
    margin: 0;
} 
html, body { 
    height: 100%; 
    
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
