body {
  width: 100%;
  height: auto;
  padding-top: 125px;
}

.componentes-grid{
  background: linear-gradient(to bottom, #989fa7, #575c60);
}

#info {
  background-color: #232323;
}

.mb-4{
  background-color: #BD9A63;
}

h2{
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: medium;
}

// body {
//   width: 100%;
//   height: auto;
//     background-color: #25252d; /* Fondo gris claro */
//     margin: 0;
//     padding: 0;
//     display: flex;
//     justify-content: center; /* Centra el contenido horizontalmente */
//     align-items: center; /* Centra el contenido verticalmente */
//     height: 100%;
//     padding-top: 100px;
// }
// .titulo{
//     width: 100%;
//     margin: 30px;
// }
// .titulo h1{
//     margin-top: 20px;
//     text-align: center;
//     font-size: 21px;
//     color:white;
//     font-weight: bolder;
//     padding-bottom: 20px;
// }
//   .quienes_somos h2{
//     text-align: center;
//     padding-bottom: 20px;
//     font-size: 15px;
//     color: white;
//     text-align: justify;
//     margin: 30px;
//     }
  
//   .persona-image{
//     width: 130px;
//     height: 150px;
//   }
//   .componentes-grid{
//     margin: 10px 30px;
//     align-items: center;
//     justify-content: center;
//   }