<body>
    <div id="intro" class="seccion" style="">
        <h1>Un formato sencillo, rápido y eficaz para sacar el maximo potencial a tu equipo</h1>
    </div>
    <div id="rrss" class="seccion">
        <section class="mb-4">
            <!-- Twitter -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://twitter.com/fantasy_DLA" role="button">
                <i class="fab fa-twitter"></i>
            </a>
            <!-- Instagram -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://www.instagram.com/fantasy_DLA/" role="button">
                <i class="fab fa-instagram"></i>
            </a>
            <!-- GitHub -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://linktr.ee/dreamleagueassistant" role="button">
                <i class="fab fa-github"></i>
            </a>
            <!-- LinkedIn -->
            <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="https://linktr.ee/dreamleagueassistant" role="button">
                <i class="fab fa-linkedin"></i>
            </a> 
        </section>
    </div>
        <div class="componentes-grid">
            <div class="row text-center">
                <div class="col-xl-3 col-sm-4 mb-5">
                <div class="componente-card bg-transparent rounded shadow-lg py-4 px-4  "><img src="../../assets/img/raquel.jpeg" alt="" width="100" class="mb-3 img-thumbnail persona-image">
                    <h5 class="mb-0">Raquel García</h5>
                </div>
                </div>
        
                <div class="col-xl-3 col-sm-4 mb-5">
                <div class="componente-card bg-transparent rounded shadow-lg py-4 px-4  "><img src="../../assets/img/pelayo.jpeg" alt="" width="100" class="mb-3 img-thumbnail persona-image">
                    <h5 class="mb-0">Pelayo Vázquez</h5>
                </div>
                </div>
        
                <div class="col-xl-3 col-sm-4 mb-5">
                <div class="componente-card bg-transparent rounded shadow-lg py-4 px-4  "><img src="../../assets/img/angel.jpeg" alt="" width="100" class="mb-3 img-thumbnail persona-image">
                    <h5 class="mb-0">Angel Escobar</h5>
                </div>
                </div>
        
                <div class="col-xl-3 col-sm-4 mb-5">
                <div class="componente-card bg-transparent rounded shadow-lg py-4 px-4  "><img src="../../assets/img/leticia.jpeg" alt="" width="100" class="mb-3 img-thumbnail persona-image">
                    <h5 class="mb-0">Leticia Gruñeiro</h5>
                </div>
                </div>
            </div>
        </div>
        <div id="info" class="seccion">
            <h2>
                Somos un equipo de apasionados informáticos dedicados a crear soluciones innovadoras para satisfacer las necesidades de nuestros clientes. <br>
                Nuestra última iniciativa es el desarrollo de una plataforma web asistente diseñada específicamente para una liga virtual de fútbol.
                Con un profundo conocimiento en tecnología y una comprensión única de las dinámicas de las ligas deportivas virtuales, nuestro equipo se compromete a ofrecer una experiencia única y emocionante para los participantes de la liga. Estamos comprometidos con la excelencia y nos esforzamos por proporcionar una herramienta eficaz y fácil de usar que mejore la gestión y el disfrute de la liga para todos los involucrados.
            </h2>
        </div>
</body>