@import '../app.component';

body {
    // width: 100%;
    // height: 100%;
    // display: flex; 
    // justify-content: center;
    // align-items: center; 
    // padding-top: 100px;
    // background: transparent;
    // back
}
.mat-dialog-container {
    background-color: #070404; /* Cambiar el color de fondo del diálogo */
  }
  
.infoJugador {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente negro */
    padding: 20px; /* Espacio interior */
    border-radius: 10px; /* Bordes redondeados */
}

h2{
    color: #25252d;
}